head
  title= templateInfo.data.project
  link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.css')