extends layout

block content
  div.container-fluid
    div.row-fluid
      div.span12.hero-unit
        h1= title
        #four04 404 - I'm sorry, the page or resource you are searching for is currently unavailable.