extends layout

block content
  div.container-fluid
    div.row-fluid
      div.span9
        h1 What is this Google Analytics Tower, anyways...
        p Welcome to the Google Analytics Tower.  This is an application that gathers
          | information from a google analytics account for some specific queries and then serves 
          | that information out through JSON.
        p  This is part learning exercise and part an actual application that I need for my clients
          | in order to collect and serve analytics data.  So it uses some "cutting edge" technologies
          | or, if you prefer "trendy crap that I am curious about".  That is, I just like learning, 
          | so here is a project in which I hope to learn a bit.  --JR
        h2 And who the heck are you?
        p  I'm John Reeve.  I'm a web developer working in Texas, living in the beautiful country
          | between San Antonio and Austin.  As of this writing (Aug 2012) I am a full time freelance 
          | Web Developer working mostly on custom PHP work, with a whole lot of time spent trying to
          | force WordPress to do stuff it was never meant to do.  The idea of working on a nice, clean
          | side project seems like a realtively fun hobby.
        h3 ... and where is my hat?!??
        p I surely couldn't say.  Good Day, Sir!
        hr
      div.span3
        div.well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Our Technology
            li
              a(href="http://nodejs.org/", target="blank") Node.js
            li
              a(href="http://www.mongodb.org/", target="blank") mongo DB
            li
              a(href="https://github.com/visionmedia/jade", target="blank") Jade Templating
            li
              a(href="http://expressjs.com/", target="blank") Express Framework
            li
              a(href="https://code.google.com/apis/console/", target="blank") Google API Console
            li
              a(href="http://twitter.github.com/bootstrap/", target="blank") Twitter Bootstrap