extends layout

block content
  div.container-fluid
    div.row-fluid
      div.span12
        ul#global-nav.nav.pull-left
          a(href='#') Control Panel
           button#btn-logout.btn.btn-primary
            i.icon-lock.icon-white
            | Sign Out
        include account
include modals/alert
include modals/confirm

script(src='/js/views/home.js')
script(src='/js/controllers/homeController.js')